*
{
	margin:0px;
	padding:0px;
}




.slider {
    position: relative;
    height: 10px;
    width: 60%;
    left: 20%;
	margin-top: 20px;
    margin-bottom: 20px;
	        
}

#title
{
	text-align:center;
	font-size:1.5em;
	font-family:Open Sans;
}
#asthma-text{
	text-align:center;
	font-family:Open Sans;
	font-size:1.2em;
	margin-top:5%;
}

#methacholine-text{
	text-align:center;
	font-family:Open Sans;
	font-size:1.2em;
	margin-top:100px;
}

#cross-section-text{
	text-align:center;
	font-family:Open Sans;
	font-size:1.2em;
	margin-top:100px;
	
}



#cross_section
{
	
	margin-top:20px;
}

.multiple{
	position:relative;
}

.single{
	position:relative;
}

#multi_plot{
	position:relative;
	margin-bottom:5%;
	margin-top:3%;
}


#single_plot {
	position:relative;
	margin-top:5%;
	margin-bottom:5%;
}

#footer{
	position:absolute;
	left:35%;
}

