*
{
	margin:0px;
	padding:0px;
}

.slider {
    position: relative;
    height: 10px;
    width: 50%;
    left: 25%;
	margin-top:5%;
	margin-bottom:10%
	        
}



.noUi-handle {
    background: white;
    width: 15px;
    height: 40px;
    margin: -16px 0 0 -8px;
}

.severity .noUi-base {
    background : blue;  
}
.severity .noUi-handle {
    border: 2px solid blue;
}

.dose .noUi-base {
    background : red;    
}
.dose .noUi-handle {
    border: 2px solid red;
}


#asthma-text{
	text-align:center;
	font-size:1.3em;
	margin-top:2%;
}

#methacholine-text{
	text-align:center;
	font-size:1.3em;
	margin-top:2%;
}
#cross-section-text{
	text-align:center;
	font-size:1.3em;
	margin-top:2%;
}



#continuous
{
	margin-top:2%;
}

#discrete
{
	margin-top:2%;
}
#cross_section
{
	
	margin-top:2%;
}


