*
{
	margin:0px;
	padding:0px;
}





.noUi-handle {
    background: white;
    width: 15px;
    height: 40px;
    margin: -16px 0 0 -8px;
}

.severity .noUi-base {
    background : blue;  
}
.severity .noUi-handle {
    border: 2px solid blue;
}

.dose .noUi-base {
    background : red;    
}
.dose .noUi-handle {
    border: 2px solid red;
}

