.slider {
    position: relative;
    height: 10px;
    width: 50%;
    left: 60px;    
    margin-top: 100px;    
}

.noUi-origin {

}

.noUi-handle {
    background: white;
    width: 15px;
    height: 40px;
    margin: -16px 0 0 -8px;
}

#severity_slider .noUi-base {
    background : blue;  
}
#severity_slider .noUi-handle {
    border: 2px solid blue;
}

#dose_slider .noUi-base {
    background : red;    
}
#dose_slider .noUi-handle {
    border: 2px solid red;
}

