.ui-spinner {
    height: 50px;
    display: block;
    margin-left: 40%;
	margin-top: 10%;
	position: absolute;
	top: 0; bottom: 0;
}

.ui-spinner-input {
	height: 90%;
	width: 70%;
}

.spinner_label
{
    float: left;
	width: 40%;
    text-align: center;
}

.spinner_label label
{
	display: block;
    font-size:25px;
}

input[type="text"] {
    font-size:25px;
    margin-top:2%;
}


#dynamic_plot
{
	position:absolute;
	top:50%;
	left:70%;
}

.param
{
    margin-top: 10px;
}

